/*Hoja para agregar estilo como color de fondo negro y fuentes blancas al body*/
body{
    background-color: black;
    font-family: Verdana;
    color: white;
}
/* agrega herencia*/
a{
    color: inherit;
}
h1{
    font-family: Arial;
}
/*agrega margenes*/
div{
    margin-top: 10px;
    margin-left: 20px;
}